#headline{
	width: 100%;
	min-width: 1263px;
	height: 300px;
	background: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0)), url(pic/yg1.jpg) no-repeat center;
}
#headline .center{
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}
#headline hgroup{
	padding: 100px 0 0 50px;
}
#headline h2{
	color: #eee;
	font-size: 36px;
	letter-spacing: 1px;
}
#headline h3{
	color: #eee;
	font-size: 20px;
	letter-spacing: 1px;
}
#container{
	width: 1263px;
	height: 2100px;
	margin: 30px auto;
} 
#container .sidebar{
	width: 340px;
	height: 800px;
	float: right;
}
#container .sidebox{
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}
#container .sidebox h2{
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	text-indent: 8px;
	height: 40px;
	line-height: 40px;
	background-color: #fafafa;
	color: #666;
	text-align: left;
}
#container .tag{
	padding: 10px 0;
}
#container .tag a{
	display: inline-block;
	margin: 2px 0;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 2px 0;
	background-color: #ccc;
	color: #999; 
}
#container .tag a:hover{
	background-color: #458b00;
	color: #fff;
}
#container figure{
	display: inline-block;
	padding: 4px;
	color: #666;
	font-size: 10px;
	text-align: center;
}
#container .box{
	padding: 10px 0;
}
#container .box a{
	display: inline-block;
	margin: 2px 0;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 2px 0;
	text-indent: 30px;
	background-color: #eee;
	color: #999; 
}
#container .box a.trea1{
	background: #eee url(pic/trea1.jpg) no-repeat 10px center;
}
#container .box a.trea2{
	background: #eee url(pic/trea2.jpg) no-repeat 10px center;
}
#container .box a.trea3{
	background: #eee url(pic/trea3.jpg) no-repeat 10px center;
}
#container .box a.trea4{
	background: #eee url(pic/trea4.jpg) no-repeat 10px center;
}
#container .ticket{
	color: #666;
	width: 920px;
	height: 1000px;
}
#container .ticket h2{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #999;
	padding: 0 0 15px 0;
	font-weight: normal;
}
#container .ticket .type{
	margin: 20px 0 10px 0;
}
#container .ticket .type mark{
	color: #fff;
	background-color: #458b00;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0 16px 0 16px;
}
#container .ticket .left{
	display: inline-block;
	width: 43%;
}
#container .ticket .right{
	display: inline-block;
	width: 43%;
}
#container .ticket .button{
	width: 9%;
	display: inline-block;
}
#container .ticket .submit{
	display: block;
	width: 90px;
	height: 90px;
	background-color: #f60;
	font-size: 20px;
	text-align: center;
	border: none;
	color: #fff;
	border-radius: 4px;
	line-height: 90px;
	position: relative;
	bottom: 25px;
	cursor:pointer;

}
#container .ticket .form p{
	line-height: 3;
}
#container .ticket .form input{
 	width: 250px;
 	height: 35px;
 	background-color: #fff;
 	padding: 5px;
 	border-radius: 4px;
 	border: 1px solid #ccc;
 	color: #666;
 	margin: 0 0 0 16px;
 	font-size: 18px;
}
#container .ticket .new{
	margin: 20px 0 0 0;
}
#container .ticket .new ul{
	margin: 20px 0 0 0;
}
#container .ticket .new li{
	display: inline-block;
	padding: 5px 10px;
}
#container .ticket .new li:first-child{
	padding-left: 0;
}
#container .ticket .new li:nth-child(2){
	background-color: #458b00;
	border-radius: 4px;
	color: #fff;
}
#container .ticket table{
	margin: 20px 0 0 0;
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}
#container .ticket th{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
}
#container .ticket td{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
#container .ticket .price{
	color: #f60;
}
#container .ticket tr:nth-child(2){
	background-color: #fafafa;
}
#container .ticket tr:hover{
	background-color: #eee;
}
#container .ticket .more{
	color: #666;
}
#container .ticket .reserve{
	display: inline-block;
	width: 80px;
	height: 35px;
	background-color: #f60;
	font-size: 20px;
	text-align: center;
	border: none;
	color: #fff;
	border-radius: 4px;
	line-height: 35px;
}
