*{
	margin: 0;
	padding: 0;
}
.startPage{
	width: 100%;
	z-index: 999;
	height: 1000px;
	position: absolute;
	left: 0;
	top: 0;
}
.startBtn{
	background-image: url("img/开始游戏.jpg");
	height: 50px;
	width: 200px;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	margin: auto;
	background-size: 100% 100%;
	cursor: pointer;
	/*display: none;*/
}
.wrapper{
	width: 100%;
	height: 1000px;
	background-image: url("img/背景.jpg");
	background-size: 100% 100%;
	position: relative;
}
.left-side{
	width: 24%;
	position: absolute;
	height: 1000px;
}
.left-side img{
	display: none;
	margin-left: 50px;
	margin-top: 50px;
}
.main{
	position: absolute;
	left: 25%;
	width: 50%;
	height: 90%;
}
.header{
	width: 100%;
	height: 80px;
	text-align: center;
}
.score{
	line-height: 80px;
	color: #ddd;
	font-size: 20px;
	font-weight: bolder;
}
.content{
	position: absolute;
	width: 79.5%;
	height: 50%;
	left: 10%;
	top: 34%;
	border: 1px solid red;
	border-radius: 4px;
}
.loser{
	display: none;
	position: 100%;
	height: 1000px;
	top: 0;
	left: 0;
}
.con{
	background-image: url("img/当前得分.png");
	background-size: 100% 100%;
	width: 200px;
	height: 200px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 10px;
}
.loserScore{
	display: block;
	position: absolute;
	height: 30px;
	width: 40px;
	top: 38%;
	left: 35%;
	color: #222;
	font-size: 30px;
	font-weight: bolder;
}
.close{
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	background-image: url("img/关闭.jpg");
	border-radius: 10px;
	background-size: 100% 100%;
	cursor: pointer;
}
.food{
	background-image: url("img/苹果.jpg");
	background-size: 100% 100%;
}
.head{
	background-image: url("img/蛇头.jpg");
	background-size: 100% 100%;
}
.body{
	background-image: url("img/身体.jpg");
	background-size: 100% 100%;
}